.home-container {
  .home-bg {
    background: linear-gradient(135deg, #1e3a8a, #3b82f6); // azul escuro para azul claro
    background-size: cover;
    background-position: center;
    transform: none; // sem animação
    animation: none;
  }
}

.powered-by {
  position: absolute;
  bottom: 27rem;
  right: 37rem;
  font-size: 5rem;
  font-weight: bold;
  color: #dc2626; // vermelho Tailwind
}
